s# Created by .ignore support plugin (hsz.mobi)
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/webdesignproject.iml
/webdesign_project_wdblog.psd
.idea/workspace.xml
webdesign_project_wdblog.psd
